@model OnlineRecruitingPlatform.DevExtremeAspNetCore.Models.BrowseCompanyViewModel
<header class="page-header bg-img size-lg" style="background-image: url(images/interface/main/bg-banner2.jpg)">
    <div class="container">
        <div class="header-detail">
            <div class="company-logo-container-92px">
                @if (Model.Company.Logo != null)
                {
                    @if (!string.IsNullOrEmpty(Model.Company.Logo.Resolution90px))
                    {
                        <img class="logo" src="~/@Model.Company.Logo.Resolution90px">
                    }
                    else
                    {
                        @if (!string.IsNullOrEmpty(Model.Company.Logo.Original))
                        {
                            <img class="logo" src="~/@Model.Company.Logo.Original">
                        }
                        else
                        {
                            <img class="logo" src="~/fonts/fontawesome6/pro/svgs/solid/file-image.svg">
                        }
                    }
                }
                else
                {
                    <img class="logo" src="~/fonts/fontawesome6/pro/svgs/solid/file-image.svg">
                }
            </div>
            <div class="hgroup">
                <h1>@Model.Company.Name</h1>
                <h3>Деятельность компании неизвестна</h3>
            </div>
            <hr>
            <p class="lead">@Model.Company.Information.Description</p>
            <ul class="details cols-3">
                <li>
                    <i class="fa fa-map-marker"></i>
                    <span>Menlo Park, CA</span>
                </li>
                <li>
                    <i class="fa fa-globe"></i>
                    <a href="@Model.Company.Information.SiteUrl">@Model.Company.Information.SiteUrl</a>
                </li>
                <li>
                    <i class="fa fa-users"></i>
                    <span>0 employer</span>
                </li>
                <li>
                    <i class="fa fa-birthday-cake"></i>
                    <span>From 1998</span>
                </li>
                <li>
                    <i class="fa fa-phone"></i>
                    <span>+7 (800) 555-35-35</span>
                </li>
                <li>
                    <i class="fa fa-envelope"></i>
                    <a href="@Model.Company.Information.Email">@Model.Company.Information.Email</a>
                </li>
            </ul>

            <div class="button-group">
                <ul class="social-icons">
                    <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
                </ul>
                <div class="action-buttons">
                    <a class="btn btn-gray" href="#">Favorite</a>
                    <a class="btn btn-success" href="#">Contact</a>
                </div>
            </div>
        </div>
    </div>
</header>